extends instructorlayout

block title
 title Delete Course

block append scripts
 script(src='/Javascript/instructorCourse.js')

block append styles
 link(rel='stylesheet' type='text/css' href='/CSS/deletecoursestyles.css')

block content
 #delete-course-container.container-fluid
  .table-responsive
   table#prof-delete-table.table.table-hover
    thead
    caption #{ user.lastname }'s current schedule
    |                   
    tbody
     tr
      th Course
      |           
      th Course Name      
      |  
      th Semester
      |                      
      th Days
      |                      
      th Class Time
      |                   
      th Num. of Students
      |                      
      th Delete Course
    tbody
     each course in Courses
      tr
       td.courseInfo= course.get("courseUniqueID")
       |              
       td.courseNameInfo= course.get("coursename")
       |                      
       td= course.get("semester")
       |                      
       td= course.get("classDays.dayOne")
        span /
        |
        span= course.get("classDays.dayTwo")
        |
       td= course.get("startTime")
        span -
        |
        span= course.get("endTime")
        |            
       td= course.get("currentCapacity")
       |                      
       td
        button.deletemycoursebtn.btn.btn-danger(type='button') Delete
  hr
  |          
  footer
   .row
    .col-md-6
     p Copyright &copy; 2021 QC First
     |                
    .col-md-6.text-md-right
     a.text-dark(href='#') Terms of Use
     |  
     |                   
     span.text-muted.mx-2 |
     |  
     |                   
     a.text-dark(href='#') Privacy Policy