extends layout

block title
 title Drop a course

block append scripts
 script(src='/Javascript/dropClass.js')
  
block append styles
 link(rel='stylesheet' type='text/css' href='/CSS/dropcoursestyles.css')

block content
 .container-fluid
  .table-responsive
   if(Courses)
    table#dropclasstable.table.table-hover
     thead
      caption #{ user.lastname }'s current schedule
      |                   
      tbody
       tr
        th Course
        |   
        th Course Name
        |  
        th Semester 
        |                      
        th Days
        |                      
        th Time
        |                   
        th Drop Course
        |
      tbody
       each course in Courses
        tr
         td.courseInfo= course.get("courseUniqueID")
         |                   
         td.courseNameInfo= course.get("courseName")
         |   
         td= course.get("semester")
         |                                       
         td= course.get("classDays.dayOne")
          span /
          |
          span= course.get("classDays.dayTwo")
          |
         td= course.get("startTime")
          span -
          |
          span= course.get("endTime")
          |               
         td
          button.deletebtn.btn.btn-danger(type='submit') Drop
          | 
  hr
  |          
  footer
   .row
    .col-md-6
     p Copyright &copy; 2021 QC First
     |                
    .col-md-6.text-md-right
     a.text-dark(href='#') Terms of Use
     |  
     |                   
     span.text-muted.mx-2 |
     |  
     |                   
     a.text-dark(href='#') Privacy Policy