extends instructorlayout 

block append scripts
  script(src='/Javascript/instructorCourse.js')

block append styles
    link(rel='stylesheet', type='text/css', href='/CSS/managecoursesstyles.css')

block content
 #manage-course-container.container-fluid
  .table-responsive
   table#profrostertable.table.table-hover
    thead
     caption #{ userName }'s current courses
     |                   
     tr
      th Course
      |   
      th Course Name
      |                      
      th Semester
      |                      
      th Days
      |                      
      th Class Time
      |                     
      th Num. of Students
      |                      
      th Roster
    tbody
     each course in Courses
      tr
       td.courseIdInfo= course.get("courseUniqueID")
       |                    
       td.courseNameInfo= course.get("courseName")
       |                      
       td.courseSemInfo= course.get("semester")
       |
       td 
       |                      
       td 
       |                   
       td.courseRosterSizeInfo= course.get("currentCapacity")
        span /
        |
        span= course.get("maxCapacity")
       |                      
       td
        button.viewrostertbtn.btn.btn-info(type='submit' data-toggle="collapse" data-target='#myRoster') View
      //- tr.collapse(id='myRoster')
      //-  each student in course.roster
      //-  td
      //-   div
      // footer goes here
  hr
  |          
  footer
   .row
    .col-md-6
     p Copyright &copy; 2021 QC First
     |                
    .col-md-6.text-md-right
     a.text-dark(href='#') Terms of Use
     |  
     |                   
     span.text-muted.mx-2 |
     |  
     |                   
     a.text-dark(href='#') Privacy Policy
    // End of container-fluid main content div